body {
    margin: 0;
}

a {
    text-decoration: none;
}

.clear {
    width: 100%;
    height: 20px;
    clear: both;
}

.top {
    width: 100%;
    height: 30px;
    background-color: #f8f8f8;
    border: 1px solid #eeeeee;
}

.top-all {
    width: 960px;
    height: 100%;
    margin: auto;
    padding: 0;
}

.top-all ul {
    margin: 0;
}

.top-1 li {
    list-style: none;
    float: left;
    margin: 0;
}

.top-all a {
    margin: auto;
    padding: 0 10px;
    color: #575757;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.top-all li:hover {
    background-color: #dddddd;
}

.top-1 {
    width: 540px;
    height: 100%;
    float: left;
}

.top-2 {
    float: right;
    width: 380px;
    height: 100%;
}

.top-2 li {
    list-style: none;
    float: right;
    padding: 0 10px;
    color: #575757;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.content {
    width: 960px;
    margin: auto;
}

.header {
    width: 100%;
    height: 94px;
    position: relative;
    margin-top: 30px;
}

.header img {
    margin: 5px 0 5px 0;
}

.im1 {
    float: left;
}

.im2 {
    float: right;
}

.broadcast {
    width: 100%;
    height: 60px;
    margin-top: 15px;
}

.broadcast-area {
    width: 100%;
    height: 40px;
    background-color: #f8f8f8;
    line-height: 40px;
    font-size: 13px;
}

.broadcast-area a:hover {
    color: #b73e3e;
}

.broadcast-area img {
    margin-left: 5px;
    position: relative;
    top: 3px;
}

.art {
    float: left;
    width: 640px;
    height: 3424px;
}

.side {
    float: right;
    width: 300px;
    height: 1396px;
}

.redian {
    width: 100%;
    height: 26px;
    color: #0099cc;
    margin-top: 0;
    font-size: 15px;
}

.redian hr {
    color: #e8e8e8;
    position: relative;
    top: -3px;
}

.contain-1 {
    width: 640px;
    height: 400px;
    background-color: #00FF00;
}

.art1 {
    width: 300px;
    height: 360px;
    float: left;

}

.art1-1 {
    width: 300px;
    height: 165px;
}

.art1 img {
    width: 292px;
    height: 163px;
    border: 4px solid #e8e8e8;
}

.art1 h4 {
    margin: 20px 0 10px 5px;
}

.art1 h4 a {
    color: #333333;
    font-size: 12px;
}

.art1 h4 a:hover {
    color: #0099cc;

}

.art p {
    margin: 5px;
}

.art1p1 {
    width: 300px;
    height: 21px;
    color: #9f9f9f;
    font-size: 13px;
}

.art1p2 {
    width: 300px;
    height: 74px;
    line-height: 20px;
    color: #333333;
    font-size: 13px;
}

.art1a {
    float: right;
    color: #0099cc;
    font-size: 15px;
}

.art1a:hover {
    color: #b73e3e;
}

.art2 {
    width: 300px;
    float: right;
}

.artp {
    width: 300px;
    height: 90px;
    margin: 0;
}

.container-i {
    width: 70px;
    height: 70px;
    float: left;
    border: 1px solid #e8e8e8;
}

.container-i img {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.art3 {
    width: 227px;
    height: 65px;
    float: right;
}

.art3 p {
    width: 100%;
    margin: 0;
    font-size: 12px;
}

.art3 p a:hover {
    color: #0099cc;
}

.art3 a {
    width: 160px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    margin-left: 5px;

}

.art3 a:hover {
    color: #b73e3e;
}

.dz {
    width: 19px;
    height: 14px;
}

.grid4 {
    width: 300px;
    float: left;
    margin: 0 10px 0 10px;
}

.grid4 h3 a:hover {
    color: #b73e3e;
}

.floated-thumb {
    width: 100%;
    height: 62px;
}

.post-thumb {
    width: 42px;
    height: 42px;
    float: left;
    border: 1px solid #e8e8e8;
}

.post-thumb img {
    width: 32px;
    height: 32px;
    margin: 5px;
}

.art4 {
    width: 256px;
    float: right;
}

.art4 p {
    width: 80%;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.art4 p a {
    width: 70%;
    height: 17px;

}

.art4 p a:hover {
    color: #0099cc;
}

.art4 a {
    font-size: 12px;
    text-decoration: none;
    color: black;
    margin-left: 5px;;
}

.art4 a:hover {
    color: #b73e3e;
}

.side1 {
    height: 125px;
    border: 1px solid #e8e8e8;
    margin: 0 0 20px 0;
    padding: 10px;
}

.sp1 {
    display: block;
    width: 278px;
    height: 21px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.sp2 {
    display: block;
    width: 278px;
    height: 21px;
    font-size: 14px;
    color: #9f9f9f;
    margin-top: 5px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
}

.sp3 {
    width: 117px;
    display: inline;
    height: 17px;
    font-size: 14px;
    color: #9f9f9f;
}

.login-icon {
    width: 278px;
    height: 55px;
    margin-top: 10px;;
    display: block;
    padding: 2px 0 5px 0;
}

.login-icon a {
    width: 26px;
    height: 17px;
    font-size: 14px;
    color: #0099cc;
    margin-right: 10px;
}

.login-icon img {
    display: inline;
    margin-top: 5px;
    margin-right: -7px;
}

.blzx-gg {
    margin: 0 0 20px 0;
    width: 300px;
    height: 150px;
}

.fsa {
    display: block;
    padding: 10px;
    background: none;
    text-indent: 0;
    width: auto;
    outline: none;
    font-size: 12px;
    float: left;
    font-weight: bold;
    color: #333333;
}

.fsa:hover {
    color: #0099cc;
}

.tab {
    height: 333px;
    border: 1px solid #e8e8e8;
}

.tab span {
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #22bcdd;
}

.tab a {
    width: 80%;
    margin: 10px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tab a:hover {
    color: #0099cc;
}

.tab-i {
    margin: auto;
    width: 274px;
    height: 286px;
}

.foot {
    width: 100%;
    height: 385px;
    border: 1px solid #e8e8e8;
    background-color: #f8f8f8;
}
@media only screen and (min-width: 768px) and (max-width: 960px) {
.im2{
    display: none;
}
.top-all {
    width: 700px;
}
.top-1{
    width: 350px;
}
.top-2{
    width: 300px;
}
.content{
    width: 700px;
}
}
